.agent__card {
    position: sticky;
    top: 0;
    background-color: #FBFBFB;
    border-radius: 12px;
    width: 408px;
}

.phone__wrapper {
    display: flex;
    flex-direction: column;
}

.agent__card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.avatar__wrapper {
    display: flex;
    padding-bottom: 16px;
}

.img__wrapper {
    width: 72px;
    height: 72px;
    background-color: grey;
    border-radius: 8px;
    overflow: hidden;
}

.img__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 12px;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
}

.position {
    font-size: 12px;
    color: #8E8E8E;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.desc {
    color: #8E8E8E;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 24px;
}

.exp {
    font-weight: 500;
    color: #1B1B1B;
    padding-bottom: 8px;
}

.projects {
    color: #8E8E8E;
    padding-bottom: 24px;
}

.projects span {
    color: #00976F;
    font-weight: 500;
}

.phone {
    color: white;
    padding: 17px 0;
    width: 100%;
    background-color: #00976F;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.request {
    padding: 17px 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 2px solid #00976F;
    box-sizing: border-box;
}

.social {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.telegram, .viber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telegram::before {
    content: url(../../icons/Telegram.png);
    padding-right: 8px;
}

.viber::before {
    content: url(../../icons/jam_viber-square.png);
    padding-right: 8px;
}

.fixed {
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 10;
}

@media(max-width: 1110px) {
    .agent__card {
        position: sticky;
        top: 0;
        background-color: #FBFBFB;
        border-radius: 12px;
        width: 350px;
    }
}

@media(max-width: 990px) {
    .agent__card {
        position: sticky;
        top: 0;
        background-color: #FBFBFB;
        border-radius: 12px;
        width: 310px;
    }

    .agent__card__wrapper {
        display: flex;
        flex-direction: column;
        padding: 14px;
    }
}

@media(max-width: 950px) {
    .agent__card {
        position: sticky;
        top: 0;
        background-color: #FBFBFB;
        border-radius: 12px;
        width: 100%;
    }

    .agent__card__wrapper {
        display: flex;
        flex-direction: column;
        padding: 14px;
    }

    .phone__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .phone {
        width: 45%;
        margin-bottom: 23px;
    }

    .request {
        width: 45%;
    }
    
}

@media(max-width: 700px) {
    .phone {
        width: 48%;
        margin-bottom: 23px;
    }

    .request {
        width: 48%;
    }
}

@media(max-width: 600px) {
    .phone__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .phone {
        width: 100%;
        margin-bottom: 23px;
    }

    .request {
        width: 100%;
    }
}