.title {
    padding-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.map {
    padding-bottom: 100px;
}

.width {
    max-width: 848px;
    width: 100%;
}