.avatar {
    min-width: 64px;
    min-height: 64px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    background: grey;

}

.avatar img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.review__card__wrapper {
    padding-left: 26px;
}

.reviews__card {
    display: flex;
    max-width: 845px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    word-wrap: break-word;
}

.card__description {
    max-width: 765px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.016px;
    color: #484848;
}

.card__title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    padding-bottom: 8px;
}

.card__title span {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    color: #8E8E8E;
}


.reviews__title {
    color: black;
    padding-bottom: 52px;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    padding-top: 100px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.input__wrapper {
    display: flex;
    max-width: 846px;
    gap: 32px;
}

.input__wrapper input {
    width: 800px;
}

.reviews__form textarea {
    display: block;
    height: 142px;
    width: 846px;
    resize: none;
    border: none;
    border-bottom: 2px solid #BDBDBD;
    margin-bottom: 64px;
    font-size: 18px;
    background: rgba(255, 248, 235, 0.72);
}

.reviews__form textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.018px;
    color: #8E8E8E;
    position: relative;
}

.reviews__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form__title {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 56px;
    padding-top: 100px;
}

.reviews__form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 248, 235, 0.72);
    width: 1288px;
}

@media(max-width: 1288px) {
    .reviews__form__wrapper {
        width: 1200px;
    }
}

@media(max-width: 1200px) {
    .reviews__form__wrapper {
        width: 1100px;
    }
}

@media(max-width: 1100px) {
    .reviews__form__wrapper {
        width: 1000px;
    }
}

@media(max-width: 1000px) {
    .reviews__form__wrapper {
        width: 900px;
    }
}

@media(max-width: 900px) {
    .reviews__form__wrapper {
        width: 870px;
    }
}

.form__button {
    padding: 17px 80px;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.045px;
    border-radius: 4px;
    background: linear-gradient(180deg, #00A364 0%, #009166 100%);
    border: 2px solid #009166;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 100px;
}

.rewiews__input {
    background: rgba(255, 248, 235, 0.72);
    font-size: 16px;
    border: none;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.thanks__message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    background: #009166;
    color: white;
    width: 600px;
    text-align: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    border-radius: 6px;
}

@media(max-width: 870px) {
    .reviews__form__wrapper {
        width: 800px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        gap: 12px;
    }

    .text__area {
        max-width: 700px;
    }

    .rewiews__input {
        max-width: 700px;
    }

    .reviews__wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .reviews__card {
        max-width: 800px;
    }
}

@media(max-width: 800px) {
    .reviews__form__wrapper {
        width: 700px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        gap: 12px;
    }

    .text__area {
        max-width: 600px;
    }

    .rewiews__input {
        max-width: 600px;
    }
}

@media(max-width: 700px) {
    .reviews__form__wrapper {
        width: 600px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 12px;
    }

    .text__area {
        max-width: 500px;
    }

    .rewiews__input {
        max-width: 500px;
    }

    .thanks__message {
        width: 500px;
        font-size: 35px;
    }
}

@media(max-width: 600px) {
    .reviews__form__wrapper {
        width: 500px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 12px;
    }

    .text__area {
        max-width: 400px;
    }

    .rewiews__input {
        max-width: 400px;
    }

    .thanks__message {
        width: 400px;
        font-size: 30px;
    }
}

@media(max-width: 500px) {
    .reviews__form__wrapper {
        width: 400px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 12px;
    }

    .text__area {
        max-width: 300px;
    }

    .rewiews__input {
        max-width: 300px;
    }

    .thanks__message {
        width: 300px;
        font-size: 20px;
    }

    .reviews__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 400px) {
    .reviews__form__wrapper {
        max-width: 380px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        width: 100%;
        gap: 12px;
    }

    .text__area {
        max-width: 370px;
        width: 100%;
    }

    .rewiews__input {
        max-width: 370px;
        width: 100%;
    }

    .thanks__message {
        width: 325px;
        font-size: 20px;
    }

    .reviews__wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 380px) {
    .reviews__form__wrapper {
        max-width: 325px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        gap: 12px;
    }

    .text__area {
        max-width: 300px;
        width: 100%;
    }

    .rewiews__input {
        max-width: 300px;
        width: 100%;
    }

    .thanks__message {
        width: 300px;
        font-size: 20px;
    }
}






.review__empty {
    padding-bottom: 40px;
}