.whywe {
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 144px;
}

.whywe__wrapper span {
    text-transform: uppercase;
}

.green {
    color: #00996C;
}

.title {
    padding-bottom: 64px;
    font-weight: 700;
}

.whywe__cards {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.whywe__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 299px;
    text-align: center;
    gap: 40px;
}

.whywe__card svg path {
    fill: #8E8E8E;
}

.whywe__card svg{
    margin-bottom: 32px;
}

.card__title {
    font-size: 24px;
}

@media (max-width: 1193px) {
    .whywe__card {
        width: 250px;
    }
}

@media (max-width: 1068px) {
    .whywe__cards {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 800px;
        gap: 0;

    }

    .whywe__card {
        width: 300px;
        padding-bottom: 80px;
    }
}

@media (max-width: 600px) {
    .whywe__cards {
        max-width: 500px;
    }
    .whywe__card {
        width: 210px;
    }
}

@media (max-width: 420px) {
    .whywe__cards {
        max-width: 320px;
        margin: 0 auto;
    }
    .card__title {
        font-size: 18px;
    }
    .whywe__card {
        width: 132px;
    }
}

