.title {
    color: black;
    text-align: center;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reviews__wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
}

.card__name {
    color: black;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.card__title {
    width: 400px;
    height: 100%;
    resize: none;
    color: black;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-bottom: 10px;
}

.title__wrapper {
    max-width: 400px;
}

.card__container {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    word-wrap: break-word;
}

.review__image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: grey;
}

.card__wrapper {
    padding-left: 20px;
    max-width: 500px;
}

.review__card {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 600px;
    box-sizing: border-box;
    width: 100%;
}

.review__button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.review__button__red {
    background-color: red;
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttons__wrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding-top: 20px;
}

.sort__button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 20px;
}

.sort__button.active {
    background-color: #FDB700;
    color: white;
}

.edit__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.delete__button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.edit__button__save {
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    background-color: #FDB700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.edit__button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}