.top {
    background-color: #E1E3E5;
    padding-top: 100px;
    padding-bottom: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    padding-bottom: 48px;
    text-align: center;
}

.cards__wrapper {
    min-height: 0;
    display: flex;
    max-width: 1288px;
    position: relative;
   
    
}


.error{
    color: red;
}

.top__wrapper {
    padding: 0;
}

.center {
    margin: 0 auto;
    background: #E1E3E5;
}


.swiper__button__prev {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -4%;
    z-index: 2;
    cursor: pointer;
}

.swiper__button__next {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -4%;
    z-index: 2;
    cursor: pointer;
    transform: rotate(180deg);
}

.swiper__slide {
    min-width: 384px;
}

@media(max-width: 1399px) {
    .swiper__slide {
        min-width: 408px !important;
    }
    .cards__wrapper {
        max-width: 1200px;
    }
}

@media(max-width: 1300px) {
    .cards__wrapper {
        max-width: 1120px;
    }

    .swiper__slide {
        min-width: 300px !important;
    }
}

@media(max-width: 1219px) {
    .cards__wrapper {
        max-width: 1050px;
        width: 100%;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5%;
    }
    .swiper__button__prev {
        left: -5%;
    }
}

@media(max-width: 1160px) {
    .cards__wrapper {
        max-width: 950px;
        width: 100%;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5%;
    }
    .swiper__button__prev {
        left: -5%;
    }
}

@media(max-width: 1049px) {
    .cards__wrapper {
        max-width: 900px;
        width: 100%;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5.5%;
    }
    .swiper__button__prev {
        left: -5.5%;
    }
}

@media(max-width: 999px) {
    .cards__wrapper {
        max-width: 900px;
        width: 100%;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5.5%;
        display: none;
    }
    .swiper__button__prev {
        left: -5.5%;
        display: none;
    }
}

@media(max-width: 905px) {
    .cards__wrapper {
        max-width: 800px;
       align-self: center;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5.5%;
        display: none;
    }
    .swiper__button__prev {
        left: -5.5%;
        display: none;
    }
}

@media(max-width: 890px) {
    .cards__wrapper {
        max-width: 800px;
       align-self: center;
       padding-left: 22px;
    }

    .swiper__slide {
        min-width: 200px !important;
    }

    .swiper__button__next {
        right: -5.5%;
        display: none;
    }
    .swiper__button__prev {
        left: -5.5%;
        display: none;
    }
}

@media(max-width: 800px) {
    .cards__wrapper {
        max-width: 650px;
       align-self: center;
       padding-left: 22px;
    }

}

@media(max-width: 682px) {
    .cards__wrapper {
        max-width: 600px;
       align-self: center;
       padding-left: 22px;
    }

}

@media(max-width: 612px) {
    .cards__wrapper {
        max-width: 490px;
       align-self: center;
       padding-left: 0;
    }

}

@media(max-width: 500px) {
    .cards__wrapper {
        max-width: 450px;
       align-self: center;
    }

}

@media(max-width: 464px) {
    .cards__wrapper {
        max-width: 400px;
       align-self: center;
    }

}

@media(max-width: 412px) {
    .cards__wrapper {
        max-width: 350px;
       align-self: center;
    }

}

@media(max-width: 357px) {
    .cards__wrapper {
        max-width: 320px;
       align-self: center;
    }

}