.product__details {
   padding-left: 76px;
   padding-right: 76px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.go__back {
    box-sizing: border-box;
    display: flex;
    padding-top: 48px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 32px;
}

.go__back::before {
    content: url(../../icons/arrowback.png);

}

.slider__img {
    width: 848px;
    height: 566px;
    background-color: grey;
    border-radius: 16px;
    overflow: hidden;
}

.slider__img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.other__img1, .other__img2 {
    width: 408px;
    height: 267px;
    overflow: hidden;
    border-radius: 8px;
    background-color: grey;
}

.other__img1 img, .other__img2 img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.details__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.other__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favotite__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 192px;
    font-size: 18px;
}

.favotite__title svg path {
    fill: black;
}

.favotite__title svg {
    margin-left: 8px;
}

.favorive {
    display: block;
    cursor: pointer;
    background: none;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 0.3s;
}

.favorive:hover {
    border-color:#00976F;
}

.map__btn {
    display: block;
    box-sizing: border-box;
    background: none;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: border 0.3s;
}

.map__btn:hover {
    border-color:#00976F;
}


.map__btn svg path {
    fill: black;
}

.favotite__title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 192px;
    font-size: 18px;
}

.favotite__title1 svg {
    margin-right: 8px;
}

.price__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
}

.price__header__wrapper {
    display: flex;
}

.price__header__wrapper >:not(:first-child) {
    margin-left: 32px;
}

.id__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 494px;
    width: 100%;
    padding-bottom: 16px;
}

.localization {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1B1B;
}

.localization::before {
    content: url(../../icons/location-on-outline.svg);
    padding-right: 15px;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8E8E;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.id span {
    color: #1B1B1B;
    padding-left: 16px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description__wrapper {
    max-width: 848px;
    width: 100%;
}

.description__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    padding-bottom: 40px;
}

.description__goods {
    display: flex;
    padding-top: 42px;
    padding-bottom: 22px;
    padding-left: 16px;
    padding-right: 50px;
    border: 1px solid #E2E2E2;
    box-shadow: 1px 4px 12px 0px rgba(100, 114, 125, 0.08);
    border-radius: 12px;
    margin-bottom: 80px;
    word-wrap: break-word;
}

.description__goods > :not(:first-child) {
    padding-left: 60px;
}

.goods__wrapper {
    display: flex;
    flex-direction: column;
}

.good {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
}

.desc {
    padding-left: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.018px;
}

.type {
    width: 135px;
    display: flex;
}

.type::before {
    content: url(../../icons/location-on-outline.svg);
    padding-right: 8px;
    margin-top: -2px;
}

.room::before {
    content: url(../../icons/bed.png);
}

.area::before{
    content: url(../../icons/floor-plan.png);
}

.floor::before{
    content: url(../../icons/stairs.png);
}

.state::before{
    content: url(../../icons/paint-brush-line.png);
}

.heating::before{
    content: url(../../icons/white-balance-sunny.png);
}

.waterheating::before{
    content: url(../../icons/heating-coil.png);
}

.buildingtype::before{
    content: url(../../icons/outline-house.png);
}


.full__desc__wrapper {
    max-width: 848px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 80px;
}

.full__desc {
    font-size: 18px;
    color: #8E8E8E;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.full__title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.map__wrapper {
    padding-bottom: 100px;
}

.card__container {
    position: relative;
}

.favorite__mobile {
    display: none;
}

.mySwiper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper__button__prev {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.swiper__button__next {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(180deg);
    display: none;
    transition: 0.3s;
}

.mySwiper:hover > .swiper__button__next {
    display: block;
}

.mySwiper:hover > .swiper__button__prev {
    display: block;
}

.swiper__slide {
    position: relative;
}

.count {
    position: absolute;
    bottom: 20px;
    left: 25px;
    color: white;
    background: rgba(27, 27, 27, 0.72);
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count svg {
    margin-right: 8px;
}

.gallery {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: auto;
    background-color: black;
    top: 0;
    left: 0;
    background: #E2E2E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.gallery__container {
    background-color: white;
     text-align: center;
     position: relative;
     position: absolute;
     top: 120px;
     left: 50%;
     right: 50%;
     transform: translate(-50%);
     max-width: 1288px;
     width: 100%;
     height: 900px;
     border-radius: 16px;
     box-shadow: 1px 4px 12px 0px rgba(100, 114, 125, 0.18);
}

.gallery__wrapper {
    padding: 52px 36px 104px 36px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gallery__slider {
    align-self: center;
    width: 1080px;
    height: 720px;
    background-color: grey;
    border-radius: 16px;
    overflow: hidden;
}


.mySwiper1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mySwiper1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper__button__prev1 {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 36px;
    z-index: 2;
    cursor: pointer;
    box-shadow: 1px 4px 12px 0px rgba(100, 114, 125, 0.16);
    transition: 0.3s;
}

.mobile__buttons__sticky {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background: #E2E2E2;
    display: none;
}

.mobile__buttons__container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.swiper__button__next1 {
    height: 44px;
    width: 44px;
    background-color: white;
    background-image: url(../../icons/prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: 36px;
    box-shadow: 1px 4px 12px 0px rgba(100, 114, 125, 0.16);
    z-index: 2;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.3s;
}

.swiper__slide1 {
    width: 1080px;
    height: 720px;
    position: relative;
    background-color: whitesmoke;
    
}
.swiper__slide1 img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

.close {
    position: absolute;
    top: 24px; 
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.close svg path {
    fill: black;
}

.gllery__buttons__wrapper {
    display: flex;
    padding-bottom: 40px;
}


.gallery__buttons__wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
}

.gallery__buttons__wrapper {
    padding-left: 70px;
}


@media(max-width: 1420px) {
    .slider__img {
        width: 828px;
        height: 446px;
    }

    .other__img1, .other__img2 {
        max-width: 348px;
        width: 100%;
        max-height: 207px;
        height: 100%;
    }

    .mySwiper {
        width: 828px;
        height: 446px;
    }
}

@media(max-width: 1400px) {
    .description__wrapper {
        max-width: 800px;
    }
}

@media(max-width: 1340px) {
    .description__wrapper {
        max-width: 760px;
    }

    .slider__img {
        width: 808px;
        height: 426px;
    }

    .other__img1, .other__img2 {
        max-width: 348px;
        width: 100%;
        max-height: 207px;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
        background-color: grey;
    }

    .mySwiper {
        width: 808px;
        height: 426px;
    }
}

@media(max-width: 1320px) {
    .description__goods {
        display: flex;
        padding-top: 42px;
        padding-bottom: 22px;
        padding-left: 10px;
        padding-right: 0;
        border: 1px solid #E2E2E2;
        box-shadow: 1px 4px 12px 0px rgba(100, 114, 125, 0.08);
        border-radius: 12px;
        margin-bottom: 80px;
        word-wrap: break-word;
    }
    
    .description__goods > :not(:first-child) {
        padding-left: 30px;
    }

    .desc {
        padding-left: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.018px;
    }

    .type {
        width: 140px;
    }

    .description__wrapper {
        max-width: 700px;
        overflow: hidden;
    }

    .slider__img {
        width: 788px;
        height: 426px;
    }

    .other__img1, .other__img2 {
        width: 348px;
        width: 100%;
        height: 207px;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
        background-color: grey;
    }

    .mySwiper {
        width: 788px;
        height: 426px;
    }

}

@media(max-width: 1300px) {
    .slider__img {
        width: 768px;
        height: 426px;
    }

    .other__img1, .other__img2 {
        max-width: 348px;
        width: 100%;
        max-height: 207px;
        height: 100%;
    }

    .mySwiper {
        width: 768px;
        height: 426px;
    }

}

@media(max-width: 1280px) {
    .slider__img {
        width: 748px;
        height: 426px;
    }

    .mySwiper {
        width: 748px;
        height: 426px;
    }

}

@media(max-width: 1260px) {
    .slider__img {
        width: 728px;
        height: 426px;
    }

    .mySwiper {
        width: 728px;
        height: 426px;
    }

}

@media(max-width: 1240px) {
    .slider__img {
        width: 708px;
        height: 426px;
    }

    .mySwiper {
        width: 708px;
        height: 426px;
    }

    .type.type__width {
        max-width: 100px;
    }

    .description__wrapper {
        max-width: 650px;
        overflow: hidden;
    }

}

@media(max-width: 1220px) {
    .slider__img {
        width: 738px;
        height: 426px;
    }

    .product__details {
        padding-left: 46px;
        padding-right: 46px;
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

    .mySwiper {
        width: 100%;
        height: 100%;
    }

}

@media(max-width: 1200px) {
    .other__img {
        display: none;
    }

    .details__wrapper {
        align-items: center;
        justify-content: center;
    }

    .slider__img {
        max-width: 1200px;
        width: 100%;
        height: 466px;
        background-color: grey;
        border-radius: 16px;
        overflow: hidden;
    }

    .mySwiper {
        width: 100%;
        height: 100%;
    }

    .product__details {
        padding-left: 26px;
        padding-right: 26px;
     }
}

@media(max-width: 950px) {
    .description__wrapper {
       max-width: 950px;
       width: 100%;
    }

    .good {
        max-width: 500px;
        width: 100%;
    }

    .description__goods{
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .description__goods > :not(:first-child) {
        padding-left: 60px;
    }
    .description {
        display: flex;
        flex-direction: column;
    }

    .card__wrapper {
        margin-bottom: 35px;
    }

    .price__header__wrapper >:not(:first-child) {
        margin-left: 0px;
    }
}

@media(max-width: 850px) {
    .price__header__wrapper {
        display: none;
    }

    .mobile__buttons__sticky {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .mobile__buttons__container {
        gap: 20px;
        justify-content: center;
    }

    .map__btn {
        align-self: center;
        width: 200px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    .map__btn:hover {
        border: none;
    }

    .favorite__mobile {
        display: block;
        width: 50px;
        height: 50px;
    }
    .favotite__title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .favotite__title svg{
        box-sizing: content-box;
        min-width: 35px;
        min-height: 35px;
        align-self: center;
        padding-top: 15px;
    }

    .favorive:hover {
        border: none;
    }

    .favorite__mobile {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

@media(max-width: 750px) {
    .product__details {
        padding-left: 16px;
        padding-right: 16px;
     }
     .slider__img {
        height: 406px;
     }
}

@media(max-width: 710px) {
    .description__goods{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 670px) {
    .description__goods{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 620px) {
    .description__goods {
        flex-direction: column;
    }

    .description__goods > :not(:first-child) {
        padding-left: 0;
    }

    .good {
        width: 400px;
    }

    .type {
        width: 200px;
    }

    .type.type__width {
        max-width: 200px;
        width: 200px;
    }
}

@media(max-width: 600px) {
    .product__details {
        padding-left: 16px;
        padding-right: 16px;
     }
     .slider__img {
        height: 356px;
     }
}

@media(max-width: 500px) {
    .product__details {
        padding-left: 16px;
        padding-right: 16px;
     }
     .slider__img {
        height: 213px;
        border-radius: 4px;
     }

     .mySwiper:hover > .swiper__button__next {
        display: none;
    }
    
    .mySwiper:hover > .swiper__button__prev {
        display: none;
    }

    .phone {
        display: inline-block;
    }

    .request {
        display: inline-block;
    }
} 
@media(max-width: 451px) {
    .product__details {
        padding-left: 5px;
        padding-right: 5px;
     }
}
@media(max-width: 434px) {
    .type {
        width: 150px;
    }

    .type.type__width {
        max-width: 150px;
        width: 150px;
    }

    .map__btn {
        width: 180px;
    }
    
}

@media(max-width: 390px) {
    .map__btn {
        width: 160px;
    }
}

@media(max-width: 350px) {
    .map__btn {
        width: 150px;
    }
}

@media(max-width: 380px) {
    .type {
        width: 135px;
    }

    .type.type__width {
        max-width: 135px;
        width: 135px;
    }

    
}

@media(max-width: 350px) {
    .type {
        width: 135px;
        font-size: 16px;
    }

    .type.type__width {
        max-width: 135px;
        width: 135px;
    }

    .product__details {
        padding-left: 5px;
        padding-right: 5px;
     }

     .desc {
        font-size: 14px;
     }
}